* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button#previous {
  position: absolute;
  top: 25em;
  left: 10em;
}

button#next {
  position: absolute;
  top: 25em;
  right: 10em;
}

button {
  width: 5em;
  height: 5em;
  z-index: 100;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.125);
  color: white;
  border-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 1000;
}

button:hover {
  background-color: rgba(255, 255, 255);
  color: black;
}

#thumbnail-container {
  position: absolute;
  top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 100vw;
  overflow: hidden;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; Hide vertical scrollbar */
  /* scrollbar-width: thin; */
  /* scrollbar-color: rgba(0, 0, 0, 0.125); */
}

#thumbnail-container img {
  padding: 2px;
  width: auto;
  height: 10em;
  object-fit: cover;
  z-index: 100;
}

#fullscreen-container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: grid;
  grid-template-columns: 1vh 1vh 1vh;
  grid-template-rows: 250px 1fr;
  grid-column-start: 1;
  grid-column-end: span;
  grid-row-start: 2;
  grid-row-end: span;
}
