* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button#previous {
  position: absolute;
  top: 50vh;
  left: 10vh;
}

button#next {
  position: absolute;
  top: 50vh;
  right: 10vh;
}

button {
  width: 5em;
  height: 5em;
  z-index: 100;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.125);
  color: white;
  border-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 1000;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}

#thumbnail-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vw;
  width: 100vw;
  background-color: rgba(139, 139, 139, 0.1);
  backdrop-filter: blur(3px);
  overflow: hidden;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; Hide vertical scrollbar */
  /* scrollbar-width: thin; */
  /* scrollbar-color: rgba(0, 0, 0, 0.125); */
}

#thumbnail-container img {
  padding: 2px;
  width: auto;
  height: 10vh;
  object-fit: cover;
  z-index: 100;
}

#fullscreen-container {
  display: grid;
  grid-template-columns: 25vh 25vh 25vh 25vh;
  grid-template-rows: 10vh 90vh;
}

#fullscreen-container img {
  width: 100vw;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  object-fit: cover;
}
